<div class="exec1">
  <div class="container">
    <article class="post">
      <div>
        <div class="absolute-bg" style="background-image: url('/lin.png');"></div>
      </div>
      <div class="post__container">
        <span class="post__category">Arrow Transportation</span>

        <div class="post__content">
          <header>
            <h1 class="post__header">Executive Car Service & Corporate Car Service NYC</h1>
                    <time class="post__time">Offering black car service for your company’s needs</time>
          </header>
    <br><br>
        <time class="post__time">Scroll through beloe for more information</time>
          <p class="post__text">Arrow Transportation is NYC’s corporate choice in business travel thanks to our exceptional service, value, and convenience. When you ride with Arrow you can expect the best, from courteous and experienced drivers to prompt service and 24-hour support. We cater to the needs of our corporate accounts by supplying specialized services for the most efficient business travel.</p>
          <p class="post__text">We specialize in black car and luxury chauffeur service throughout New York’s five boroughs, New Jersey, Connecticut, and Westchester County. Our fleet of immaculate vehicles can handle groups of any size, from executive transport and airport transfers to group meetings and special events.</p>
          <p class="post__text">Our standard corporate sedan service – aka “Black Car” offers point-to-point and hourly transportation in the tri-state area. Widely used by New York companies, Black Car is a reliable and economical taxi service for business travel.</p>
          <p class="post__text">Setting up an account with Arrow is simple. We provide convenient options for direct weekly billing or credit card accounts, as well as customized expense management controls.</p>
          <p class="post__text">It’s our aim to win customer loyalty and build long-term relationships, so call us at 212-431-1900 or email us to get the Arrow Edge for your business, or initiate your <a href="/reservations">executive car service account</a> online today.</p>
        </div>
      </div>
    </article>
  </div>

</div>
