<div class="exec1">
  <div class="container">
    <article class="post">
      <div>
        <div class="absolute-bg" style="background-image: url('/bmw.png');"></div>
      </div>
      <div class="post__container">
        <span class="post__category">Arrow Transportation</span>

        <div class="post__content">
          <header>
            <h1 class="post__header">Arrow Premier Class offers a dedicated chauffeur and vehicle for the utmost luxury service.</h1>
                    <time class="post__time">This service is catered for those who need individualized service based upon preferences and schedules.</time>
          </header>
    <br><br>
        <time class="post__time">Scroll through beloe for more information</time>
          <p class="post__text">Premier Class service includes:</p>
          <p class="post__text"><ul>
            <li>Late model luxury vehicle</li>
            <li>A dedicated chauffeur — clients may select their driver of choice</li>
            <li>Amenities based upon the client’s preference (i.e., botttled water, newspaper)</li>
            <li>Customized name sign for pick ups</li>
            <li>A dedicated Arrow representative to assist in coordinating the  day’s itinerary</li>
          </ul></p>
          <p class="post__text">Our standard sedan/SUV rate for this service is $80/hr (2 hr min.) + 20% gratuity. Please call us for pricing on specialty vehicles such as stretch limos and vans.</p>
        </div>
      </div>
    </article>
  </div>

</div>
