
  <div class="container-fluid">
<div class="airportt">
    <!-- HEADER -->
    <div class="row">
      <div class="header text-center">
        <div class="col-sm-4 col-xs-12">
          <!-- <p><a href="#">VISUAL ARTS</a></p> -->
        </div>
        <div class="col-sm-4 col-sm-12">
          <!-- <img src="https://media.creativemornings.com/uploads/user/avatar/120448/profile-circle.png" class="mugshot" alt="Noah Andrews Avatar"> -->
          <hr>
          <blockquote class="">
              <h1 class="">Billing</h1>
            <footer>Arrow Transportation</footer>
          </blockquote>
        </div>
        <div class="col-sm-4 col-xs-12">
          <!-- <p class="search"><i class="fa fa-search"></i><a href="#"> SEARCH</a></p> -->
        </div>
      </div>
    </div>


    <!-- BLOG POST -->
    <div class="row">
      <div class="col-xs-10 col-sm-6 col-xs-offset-1 col-sm-offset-3 text-justify">
        <p class="content">
For customized solutions, please call (718) 392-4393 or email wecare@arrow-trans.com.
        </p>

        <p class="content">
          Option 1: Open Account
          Anyone calling our reservations office with your correct Arrow account number will be provided service. If they do not have a preprinted voucher (vouchers we have sent to you imprinted with your correct account number) when they enter the car, the driver may issue one to them. You accept responsibility for any and all charges to your account number. Arrow is not responsible for unauthorized individual charges to your account.
        </p>
        <p class="content">
          Option 2: Vip Number
    Authorized perons will be provided a VIP card indicating their unique VIP/employee number. The VIP/employee number must be provided along with your correct Arrow account number upon making reservations. Clients or other persons affiliated with the authorized user must have the user notify our staff before making reservations. Requiring all authorized persons to present their cards to the driver is optional. Anyone without the VIP/employee number will be denied service even if they provide the general acount number.

        </p>
  <br>
        <p class="content">
          Option 3: No Voucher, No Ride
          All travel must have one of two options: Upon entering the car, the passenger must provide the driver a preprinted voucher or, a VIP card upon presentation of which the driver will take an imprint of the card and issue an in-car voucher to the passenger. VIP Cards may be used to authorize travel by other individuals but we must be notified of this at the time of request of service. If the passenger does not have a preprinted voucher, a VIP Card or previous authorization by a VIP Card holder, we will deny service to that individual.
        </p>
        <p class="content">
          Purchasing/Charge Cards:
    For companies managing their purchasing expenses through purchase cards, Arrow will work to integrate with your credit card company and back-office system to make everything easier.
        </p>

        <!-- Stacked Gallery -->
        <!-- <div class="row gallery">
          <div class="col-xs-12 col-sm-6 img-gallery" data-aos="flip-left">
            <img class="img-hero img-responsive" src="https://images.pexels.com/photos/133919/pexels-photo-133919.jpeg" alt="Furniture Design" />
          </div>
          <div class="col-xs-12 col-sm-6 img-gallery" data-aos="flip-right">
            <img class="img-hero img-responsive" src="https://images.pexels.com/photos/226378/pexels-photo-226378.jpeg" alt="Furniture Design" />
          </div>
          <div class="col-xs-12 col-sm-6 img-gallery" data-aos="flip-left">
            <img class="img-hero img-responsive" src="https://images.pexels.com/photos/31053/pexels-photo-31053.jpg" alt="Furniture Design" />
          </div>
          <div class="col-xs-12 col-sm-6 img-gallery" data-aos="flip-right">
            <img class="img-hero img-responsive" src="https://images.pexels.com/photos/2812/black-couch-furniture-living-room.jpg" alt="Furniture Design" />
          </div>
        </div> -->

        <p class="content">

      Personal Credit Card Account:
      Track your ride history and expenses online and have ride receipts automatically emailed or faxed to you once your card is charged.
        </p>
        <p class="content">
          <a href="#">Credit Card Authorization Form</a><br>
For non-account holders who would like to book a specialty vehicle (SUVs, Limos, Vans), please complete and fax this form to us.

        </p>

      </div>
    </div>


  </div>

</div>
