
<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="/cars.jpg" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Welcome to Arrow Transportation!</h1>
          <h5><br>The premier NYC car service company</h5>
          <pthis is="" an="" example="" layout="" with="" carousel="" that="" uses="" the="" bootstrap="" 3="" styles.<="" small=""><p></p>
          <p><a class="btn btn-md btn-primary" href="http://getbootstrap.com">Reserve</a>
            <a class="btn btn-md btn-primary" href="http://getbootstrap.com">Contact Us</a>
        </p></pthis></div>
      </div>
    </div>
    <div class="item">
      <img src="http://lorempixel.com/1500/600/abstract/1" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Changes to the Grid</h1>
          <p>Bootstrap 3 still features a 12-column grid, but many of the CSS class names have completely changed.</p>
          <p><a class="btn btn-large btn-primary" href="#">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/1500X500" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Percentage-based sizing</h1>
          <p>With "mobile-first" there is now only one percentage-based grid.</p>
          <p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>
<!-- /.carousel -->
<div class="information message">
<center><h2>Welcome to Arrow Transportation! </h2></center>
<p class = "infor2">Thanks for visiting <b class="wel1">Arrow Transportation</b>, the best chauffeured-services company in New York City. Arrow car service specializes in providing top-quality and affordable ground transportation for business travel, airport transfers, meetings, and events. Wherever you need to be in New York or nationwide, Arrow will get you there in safety, comfort, and style.

When you require exceptional service and value, look for the most requested black car in NYC. Our luxury fleet of late model town cars, limos, SUVs, and vans stand ready to meet your needs. Call or email Arrow Transportation in New York or reserve your black car service online today!

Please browse through our web site to learn more about our superior capabilities for fulfilling your company’s ground transportation needs. </p>
</div>

<div class="container">
    <center><h1  id = "well2" class="wel1 animated bounceIn">Services </h1></center><hr><br>
	<div class="row destacados">
		<div class="col-md-4">
    		<div>
				<img src="/car.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
				<h2>Executive Town Car Service</h2>
				<p>Offering black car service for your company’s needs, including point-to-point, and hourly transportation in the New York/Tri-State Area.</p>
				<a href="#" class="btn btn-primary" title="Enlace">Learn More »</a>
			</div>
		</div>

		<div class="col-md-4">
			<div>
				<img src="/exec.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
				<h2>Premier Class Service</h2>
				<p>Arrow Premier Class offers a dedicated chauffeur and vehicle for the utmost luxury service.</p>
				<a href="#" class="btn btn-primary" title="Enlace">Learn More »</a>
			</div>
		</div>

		<div class="col-md-4">
			<div>
				<img src="/newmap.png" alt="Texto Alternativo" class="img-circle img-thumbnail">
				<h2>Locations</h2>
				<p>With our local NYC car service we provide transportation all over 5 boroughs.</p><br><br>
				<a href="#" class="btn btn-primary" title="Enlace">Learn More »</a>
			</div>
		</div>
	</div>
</div>
<div class="container">
  <div class="row">
    <div class='col-md-offset-2 col-md-8 text-center'>
    <h2>Quote / Testimonial Carousel Bootstrap 3.3.7</h2>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-offset-2 col-md-8'>
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">
        <!-- Bottom Carousel Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#quote-carousel" data-slide-to="1"></li>
          <li data-target="#quote-carousel" data-slide-to="2"></li>
        </ol>

        <!-- Carousel Slides / Quotes -->
        <div class="carousel-inner">

          <!-- Quote 1 -->
          <div class="item active">
            <blockquote>
              <div class="row">
                <div class="col-sm-12 text-center">
                  <img class="img-circle" src="http://lorempixel.com/100/100" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-12 text-center">
                  <p>I am Sinju Angajan. Love you all</p>
                  <small>Sinju Angajan</small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 2 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-12 text-center">
                  <img class="img-circle" src="http://lorempixel.com/100/100" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-12 text-center">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor. Mauris.</p>
                  <small>Someone famous</small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 3 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-12 text-center">
                  <img class="img-circle" src="http://lorempixel.com/100/100" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-12 text-center">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</p>
                  <small>Someone famous</small>
                </div>
              </div>
            </blockquote>
          </div>
        </div>

        <!-- Carousel Buttons Next/Prev -->
        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
      </div>
    </div>
  </div>
</div>
