<div class="fleets">
  <div class="container">
    <figure class="snip1171 ">
      <img src="/lin.png" alt="sample71"  width="800" height="300"/>
      <div class="price">Executive-L Series (Black Car)</div>
      <figcaption>
        <h3>Lincoln Town Car</h3>
    <p>Representing the ultimate in luxury, Arrow prefers the Lincoln Town Car L-Series for our standard “black car” service for point-to-point and hourly transportation. Our Town Cars are an excellent choice for corporate ground travel throughout NYC, supplying luxury comfort for up to four passengers with ample room for luggage. So whether you need a transfer from LGA, JFK and Newark Liberty International airports or round trip service to a meeting in Mid-Town Manhattan, Arrow will get you there in elegant and discreet style.</p>

      </figcaption>
    </figure>

    <figure class="snip1171 blue">
  <img src="/benz.png" alt="sample47" width="800" height="300"/>
      <div class="price">S550</div>
      <figcaption>
          <h3>Mercedes Benz </h3>
  <p>The S550 makes a powerful statement with its timeless Mercedes styling and futuristic performance and design. Perfect for executive travel and client transportation with a back seat fit for royalty, our S550s will get you where you need to go, whether it’s through the heart of NYC or out on the open road. Prominent features of this impressive luxury vehicle include peerless safety standards, a smooth and quiet ride, and unsurpassed comfort.</p><br>
      </figcaption>
    </figure>

    <figure class="snip1171 orange">
          <img src="/gmc.jpg" alt="sample47" width="400" height="300"/>
      <div class="price">Denali, Yukon, GMC, Escalade</div>
      <figcaption>
        <h3>SUV (Denali, Yukon, GMC, Escalade)</h3>
    <p>SUV Denali, Yukon, GMC, Escalade Our versatile fleet of SUVs helps maximize our capabilities in providing efficient ground transportation solutions. Whether you are traveling to an out-of-town meeting or need to transport your group and luggage between airports, Arrow will get you there in safety and style despite heavy traffic or adverse NYC weather conditions. Choose from top luxury SUVs like the spacious and powerful GMC Yukon Denali or the smooth and stylish Ford Escalade, or call our representatives for assistance in reserving your vehicle from Arrow today.</p>
      </figcaption>
    </figure>


      <figure class="snip1171 black">
        <img src="/tot.png" alt="sample47" width="900" height="300"/>
        <div class="price">Hybrid</div>
        <figcaption>
          <h3>Toyota Camry</h3>
  <p>Arrow caters to the specific needs of our clients by offering the Toyota Camry Hybrid for an Eco-friendly transportation solution. The highly rated Camry Hybrid is a powerful and efficient driving machine that takes comfort to a new level in its class. Our Hybrids are equally appropriate for businesses committed to green initiatives or the individual looking for an experience that’s unique from our black car sedans. The Camry seats up to four comfortably, features surprising road performance, and ample trunk </p>
        </figcaption>
      </figure>

      <figure class="snip1171 black">
        <img src="/bmw.png" alt="sample47" width="900" height="300"/>
        <div class="price">750LI Series</div>
        <figcaption>
          <h3>BMW</h3>
  <p>The impeccable BMW 750Li represents the height of chauffeured full-size luxury car service. Our 750Lis are a great option for both corporate travel and special event transportation, offering unmatched back-seat comfort and leg room, an ultra-quiet ride, and just about every modern cabin amenity that’s ever been invented. This BMW is a supremely functional, head-turning means of transportation that’s sure to meet the demands of the most discerning NYC car service clients.</p>
        </figcaption>
      </figure>


      <figure class="snip1171 blue">
        <img src="/vann.png" alt="sample47" width="900" height="300"/>
        <div class="price">(14 people)</div>
        <figcaption>
          <h3>GMC Savana Van</h3>
          <p>Whether shuttling team members between event sites or traveling as a group to and from the airport, our 14-passenger GMC Savana Van will get you there in comfort and safety. Our passenger vans offer customizable comfort seating and are surprisingly stylish, making them the ideal choice for corporate outings, weddings, and special events. If you’ve been searching for van service in NYC, call Arrow today to find out more about our specialty passenger vans.</p>
        </figcaption>
      </figure>


      <figure class="snip1171 black">
        <img src="/truck.jpg" alt="sample47" width="600" height="300"/>
        <div class="price">(Party Bus) (14 people)</div>
        <figcaption>
          <h3>Ford Krystal 28</h3>
          <p>Our Ford Krystal 28-person party bus service is your solution of choice for group transportation. Elegant and spacious for events in NYC and anywhere else, our party buses are an efficient option for corporate parties or group airport transfers. Arrow’s party buses feature stereo sound-systems, video capabilities, and custom amenities, making them essential for weddings, executive retreats, or New Year’s Eve outings.</p>
        </figcaption>
      </figure>

  </div>
</div>
