<div class="container">
  <div class="top-bar">
    <div class="container">
      <div class="top-bar">
        <div class="row">
          <div class="col-md-7 hidden-md hidden-sm">
            <div class="topmail" style="font-size:14px; margin-top:10px;">Call us today: <b>212-431-1900 or 718-392-4060</b></div>
          </div>
          <div class="col-md-5 text-right">
            <div class="top-bar-right">

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-17">
        <center><a class="" href="/"><img src="/logo.png" alt="" ></a></center>
      </div>
      <div class="col-md-5 text-right">
        <div class="top-bar-right"></div>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-custom navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse" data-hover="dropdown">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/airport_car_service">Airport Car Service</a></li>
          <li><a href="/corporate_car_service">Corporate Car Service </a></li>
        </ul>
        </li>
        <li><a href="/our_fleet">Our Fleet</a></li>
        <li><a href="/reservations">Reservations</a></li>
        <li><a href="/billing">Billing</a></li>
        <li><a href="/about_us">About Us</a></li>
        <li><a href="/contact_us">Contact us</a></li>
      </ul>
    </div>
  </div>
</nav>
